[Unit]
Description=Itzo launcher
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/itzo-launcher --v=5

[Install]
WantedBy=multi-user.target
